@import "tailwindcss";

@theme {
  --color-brand-50: oklch(97% 0.005 260);
  --color-brand-100: oklch(94% 0.010 260);
  --color-brand-200: oklch(88% 0.018 260);
  --color-brand-300: oklch(76% 0.034 260);
  --color-brand-400: oklch(63% 0.050 260);
  --color-brand-500: oklch(52% 0.058 260);
  --color-brand-600: oklch(43% 0.056 260);
  --color-brand-700: oklch(36% 0.050 260);
  --color-brand-800: oklch(32% 0.044 260);
  --color-brand-900: oklch(27% 0.037 260);
  --color-brand-950: oklch(22% 0.032 260);

  --font-logo: Poppins, sans-serif;
  --font-display: Bricolage Grotesque, sans-serif;
  --font-body: Nunito Sans, sans-serif;
}
