<div class="w-full grid grid-cols-7">
  <% Date::DAYNAMES.rotate.each do |weekday| %>
    <div class="text-xl font-medium mb-3">
      <%= t('date.day_names')[Date::DAYNAMES.rotate.index(weekday)] %>
    </div>
  <% end %>
  <% month_offset(activity_report.start_date).times do %>
    <div class="border h-24 bg-gray-100"></div>
  <% end %>
  <% (activity_report.days).each do |day| %>
    <%= render 'activity_reports/day', day:, activity_report: activity_report %>
  <% end %>
  <% month_inset(activity_report.start_date).times do %>
    <div class="border h-24 bg-gray-100"></div>
  <% end %>
</div>
