<div class="text-lg font-semibold">Nombre jours travaillés: <span class="text-secondary text-lg font-medium"><%= total_worked_days %></span></div>
<div class="text-lg font-semibold">
  Revenu mensuel estimé: <span class="text-primary text-xl"><%= estimated_income %> €</span>
</div>
