<div class="inline-flex items-center space-x-1">
  <%= lucide_icon 'calendar-1', class: 'size-4' %>
  <span>Jours travaillés: <span class="text-brand-500 text-lg font-medium"><%= number_with_precision(total_worked_days, precision: 1, strip_insignificant_zeros: true) %></span></span>
</div>
<div class="inline-flex items-center space-x-1">
  <%= lucide_icon 'badge-euro', class: 'size-4' %>
  <span>Revenus estimé: <span class="text-brand-500 text-lg font-medium"><%= number_with_precision(estimated_income, precision: 0, strip_insignificant_zeros: true) %>€</span></span>
</div>
