<section id="about" class="bg-white text-black flex flex-col items-center py-24 px-6 lg:px-0">
  <div class="flex flex-col space-y-6 max-w-2xl mx-auto">
    <div class="flex space-x-8">
      <%= image_tag 'ayaz.jpeg', class: 'rounded-lg w-32 h-32 lg:w-44' %>
      <div class="flex flex-col space-y-2 text-black">
        <span class="text-lg font-semibold">Bonjour, moi c'est Ayaz 👋</span>
        <p>Il y a plus de 3 ans, je me suis lancé comme développeur freelance en régie, avec le statut de micro-entrepreneur.</p>
        <p>Rapidement, j'ai réalisé que la rentabilité était essentielle, mais aucun outil dédié aux micro-entreprises ne répondait à mes besoins.</p>
      </div>
    </div>
    <div class="">
      <p class="mb-6">J'avais besoin d'un moyen pour optimiser mes revenus, simplifier la gestion administrative et me concentrer sur mon travail. C'est de là qu'est née <span class="font-medium">MicroEntrepreneur</span>.</p>
      <span>Pourquoi MicroEntrepreneur ?</span>
      <ul class="pl-3 mt-4 mb-6 space-y-2">
        <li>1. <span class="font-medium">Boostez votre rentabilité</span>: Suivez vos gains en temps réel et maximisez vos profits</li>
        <li>2. <span class="font-medium">Clarté sur vos revenus</span>: Visualisez vos revenus mensuels estimés sans surprises.</li>
        <li>3. <span class="font-medium">Gérez vos congés en quelques clics</span>: Planifiez facilement vos jours de congé et d'activité, et voyez l'impact sur vos revenus</li>
      </ul>
      <p>MicroEntrepreneur est plus qu'une application, c'est votre <span class="font-semibold">copilote pour réussir en tant que freelance</span>!</p>
    </div>
  </div>
</section>
