<section id="about" class="bg-white text-black flex flex-col items-center py-24 px-6 lg:px-0">
  <div class="max-w-3xl mx-auto">
    <div class="leading-relaxed max-w-xl mx-auto">
      <%= image_tag 'ayaz.jpeg', class: 'rounded-lg w-32 h-32 lg:w-52 lg:h-52 float-left mr-6 mb-6 object-center object-cover' %>
      <p class="mb-4 lg:text-lg font-medium">Bonjour, moi c'est Ayaz 👋</p>
      <p class="mb-5">Il y a plus de 3 ans, je me suis lancé comme développeur freelance en régie, avec le statut de micro-entrepreneur.</p>
      <p class="mb-5">Rapidement, j'ai réalisé que la rentabilité était essentielle, mais aucun outil dédié aux micro-entreprises ne répondait à mes besoins.</p>
      <p class="mb-5">J'avais besoin d'un moyen pour optimiser mes revenus, simplifier la gestion administrative et me concentrer sur mon travail. C'est de là qu'est née <span class="font-medium">MicroEntrepreneur</span>.</p>
      <p class="mb-5">Pourquoi MicroEntrepreneur ?</p>
      <ul class="list-inside list-decimal space-y-1.5 ml-5 mb-5">
        <li><span class="font-medium">Boostez votre rentabilité</span>: Suivez vos gains en temps réel et maximisez vos profits</li>
        <li><span class="font-medium">Clarté sur vos revenus</span>: Visualisez vos revenus mensuels estimés sans surprises.</li>
        <li><span class="font-medium">Gérez vos congés en quelques clics</span>: Planifiez facilement vos jours de congé et d'activité, et voyez l'impact sur vos revenus</li>
      </ul>
      <p>MicroEntrepreneur est plus qu'une application, c'est votre <span class="font-semibold">copilote pour réussir en tant que freelance</span>.</p>
    </div>
  </div>
</div>
</section>
