<section id="features" class="bg-white flex flex-col space-y-12 lg:space-y-28 py-14 lg:py-24 px-6 lg:px-44">
  <h2 class="text-brand-950 text-center text-2xl lg:text-5xl font-medium lg:font-semibold">Arrêtez de perdre du chiffre d'affaires <span class="text-brand-500">inutilement</span> !</h2>
  <div class="w-full grid grid-cols-1 lg:grid-cols-3 gap-16 lg:gap-x-32 lg:gap-y-0 place-items-center">
    <%= render 'pages/home/benefit', icon: 'message', title: 'Maximisez vos revenus en régie', description: "Le statut de la micro-entreprise possède un plafond de CA. L'objectif de MicroEntreprise est de se rapprocher le plus possible de ce plafond sans le dépasser." %>
    <%= render 'pages/home/benefit', icon: 'more', title: 'Optimisez les jours de congés', description: "La durée et le montant des jours de congés doivent être bien réfléchis afin de rentabiliser le plus possible votre activité d'indépendant." %>
    <%= render 'pages/home/benefit', icon: 'chart', title: 'Visualisez vos revenus estimés', description: 'Planifier vos dépenses et vos projets en accédant à une visualisation de vos revenus estimés sur plusieurs mois.' %>
  </div>
</section>
