<div class="w-full flex flex-col justify-center space-y-6">
  <div class="w-full flex justify-center lg:justify-start h-32 lg:h-40">
    <%= image_tag "#{icon}.svg" %>
  </div>
  <div class="lg:h-40 space-y-6">
    <h6 class="text-black text-center lg:text-left text-2xl lg:text-2xl font-medium"><%= title %></h6>
    <p class="text-black text-center lg:text-left"><%= description %></p>
  </div>
</div>
