<div class="w-full flex flex-col justify-center space-y-6">
  <div class="w-full flex justify-center lg:justify-start">
    <%= image_tag "#{icon}.svg", class: 'w-36' %>
  </div>
  <h6 class="text-black text-center lg:text-left text-xl lg:text-2xl lg:h-6 font-medium"><%= title %></h6>
  <p class="text-black text-center lg:text-left"><%= description %></p>
</div>
