<section id="faq" class="flex flex-col space-y-12 lg:space-y-28 py-14 lg:py-24 px-6 lg:px-44 lg:items-center">
  <h2 class="text-brand-950 text-center text-2xl lg:text-5xl font-medium lg:font-semibold"><%= t('.title') %></h2>
  <div class="flex flex-col space-y-8 lg:w-full lg:items-center">
    <%= render 'pages/home/faq', question: "Est-ce que c'est une abonnement mensuel ou annuel ?", 
                                 answer: "Ni l'un, ni l'autre. Le paiement est unique, une fois payé, l'accès à l'application est illimité."
    %>
    <%= render 'pages/home/faq', question: "Que se passe-t-il une fois que j'ai payé ?", 
                                 answer: "Vous avez directement accès à l'application."
    %>
  </div>
</section>
