<section id="faq" class="flex flex-col space-y-12 lg:space-y-28 py-14 lg:py-24 px-6 lg:px-44 lg:items-center">
  <h2 class="text-brand-950 text-center text-2xl lg:text-5xl font-medium lg:font-semibold"><%= t('.title') %></h2>
  <div class="flex flex-col space-y-8 lg:w-full lg:items-center">
    <%= render 'pages/home/faq', question: t('pages.home.faqs.question_one.question'), 
                      answer: t('pages.home.faqs.question_one.answer') 
    %>
    <%= render 'pages/home/faq', question: t('pages.home.faqs.question_two.question'), 
                      answer: t('pages.home.faqs.question_two.answer')  
    %>
    <%= render 'pages/home/faq', question: t('pages.home.faqs.question_three.question'), 
                      answer: t('pages.home.faqs.question_three.answer') 
    %>
  </div>
</section>
