<section class="bg-brand-50 flex flex-col items-center space-y-16 lg:space-y-24 py-24 px-6 lg:px-0">
  <h2 class="text-brand-950 text-center text-3xl lg:text-5xl font-medium lg:font-semibold">Une application pour <span class="text-brand-500">rentabiliser votre chiffre d'affaires</span></h2>
  <div class="w-full max-w-7xl mx-auto flex flex-col space-y-10 lg:space-y-16">
    <%= render 'pages/home/features/feature', reverse: false, title: 'Visualisez votre rentabilité', details: ['Lorem Ipsum', 'Lorem Ipsum'] %>
    <%= render 'pages/home/features/feature', reverse: true, title: "Gérez vos jours de congé et d'activité", details: ['Lorem Ipsum', 'Lorem Ipsum'] %>
    <%= render 'pages/home/features/feature', reverse: false, title: 'Adaptabilité à votre évolution', details: ['Lorem Ipsum', 'Lorem Ipsum'] %>
  </div>
</section>
