<section id="features" class="bg-brand-50 flex flex-col items-center space-y-16 lg:space-y-24 py-24 px-6 lg:px-0">
  <h2 class="text-brand-950 text-center text-3xl lg:text-5xl font-medium lg:font-semibold">Une application pour <span class="text-brand-500">rentabiliser votre chiffre d'affaires</span></h2>
  <div class="w-full max-w-7xl mx-auto flex flex-col space-y-10 lg:space-y-16">
    <%= render 'pages/home/features/feature', reverse: false, title: 'Visualisez votre rentabilité', details: ['Revenus mensuels estimés', "Chiffre d'affaires généré", 'Indice de rentabilité', "Gain manqué si l'activité n'est pas rentable"] %>
    <%= render 'pages/home/features/feature', reverse: true, title: "Gérez vos jours de congé et d'activité", details: ['Pré-configurez vos jours de congé', 'Plusieurs types de jours de congé : journée complète ou demi-journée', 'Revenus mensuels estimés calculés dynamiquement en fonction des jours de congé'] %>
    <%= render 'pages/home/features/feature', reverse: false, title: 'Adaptabilité à votre évolution', details: ["Mise à jour du TJM tout au long de l'année", 'Calcul des revenus mensuels estimés en fonction des mises à jour du TJM'] %>
  </div>
</section>
