<section id="hero" class="flex flex-col items-center space-y-16 px-6 mt-8">
  <div class="flex flex-col items-center space-y-8">
    <div class="w-full flex flex-col items-center space-y-4">
      <div class="w-fit bg-brand-50 rounded-full text-brand-500 border-2 border-brand-100 text-center text-xs font-medium py-2 px-3">
        Fait par un freelance pour les freelances
      </div>
      <h1 class="text-center font-display text-black text-4xl">
        Gérez votre activité de <span class="text-brand-500">freelance en régie</span>
      </h1>
      <h3 class="text-center text-sm text-brand-950">Visualisez vos revenus nets mensuels en un coup d'œil et maximisez vos jours de congé pour une rentabilité optimale !</h3>
    </div>
    <%= image_tag 'hero.png', class: 'shadow-lg rounded-lg' %>
  </div>
  <%= link_to t('global.cta'), 'https://example.com', target: '_blank', class: 'text-off-white rounded-full bg-brand-500 ring ring-4 ring-brand-200 px-5 py-2.5 text-lg' %>
</section>
