<section id="how-it-works" class="flex flex-col space-y-12 lg:space-y-28 py-14 lg:py-24 px-6 lg:px-44">
  <h2 class="text-brand-950 text-center text-3xl lg:text-5xl font-medium lg:font-semibold">
    3 étapes pour <span class="text-brand-500">augmenter vos revenus</span> avec MicroEntrepreneur
  </h2>
  <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-16 lg:gap-0 place-items-center">
    <%= render 'pages/home/step', icon: 'define_tjm', title: '01. Définissez votre TJM du moment', description: 'Lors de votre inscription, saisissez votre TJM actuel pour que notre algorithme puisse estimer avec précision vos revenus.' %>
    <div class="hidden lg:block"></div>
    <div class="hidden lg:block"></div>
    <%= render 'pages/home/step', icon: 'planify', title: '02. Planifiez vos jours de congé', description: "Configurez vos jours de congés à l'avance, idéal si vous avez un rythme de travail spécifique (3j/5, 4j/5, etc.), pour une organisation optimale de votre emploi du temps." %>
    <%= render 'pages/home/step', icon: 'optimize', title: '03. Optimisez vos jours de repos', description: "Suivez l'évolution de votre chiffre d'affaires tout au long de l'année et optimisez vos jours de repos pour rentabiliser au maximum votre activité." %>
    <div class="hidden lg:block"></div>
  </div>
</section>
