<section id="pricings" class="bg-white flex flex-col space-y-12 lg:space-y-18 py-14 lg:py-24 px-6 lg:px-44">
  <div class="w-full text-center font-medium">
    <div class="flex flex-col text-brand-950 text-2xl lg:text-5xl font-medium lg:font-semibold space-y-2">
      <div><span class="text-brand-500">Réduisez</span> votre temps de travail</div>
      <div><span class="text-brand-500">Boostez</span> votre chiffre d'affaires</div>
    </div>
  </div>
  <div class="w-full text-center font-medium">
    <h2 class="text-brand-950 text-lg lg:text-2xl font-medium">Un paiement <span class="text-xl lg:text-3xl underline decoration-brand-500 font-semibold">unique</span>, un accès <span class="text-xl lg:text-3xl underline decoration-brand-500 font-semibold">à vie</span>.</h2>
  </div>
  <div class="w-full flex flex-col lg:flex-row space-y-12 lg:space-y-0 lg:space-x-24 lg:justify-center">
    <div class="flex flex-col bg-off-white rounded-lg px-6 lg:px-8 py-7 lg:py-10 space-y-8 lg:w-1/4 border-2 lg:border-4 border-gray">
      <div class="w-full flex flex-col lg:grow lg:mb-3">
        <div class="flex items-baseline text-black space-x-1 mt-2 lg:mt-4">
          <span class="text-brand-950 font-semibold text-4xl">49,99 €</span>
        </div>
        <h3 class="text-brand-600 text-xs lg:text-sm mt-3">~ 0.06% de votre CA rentabilisé</h3>
        <ul class="text-left text-black space-y-4 mt-5 lg:mt-8">
          <% ['Suivi de votre rentabilité', 'Estimation des revenus mensuel', "Adaptabilité à l'évolution du TJM", 'Gestion des jours de congés', 'Accès à vie'].each do |feature| %>
            <li class="flex items-center space-x-1.5">
              <svg class="w-4 lg:w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
              <span class="w-11/12 text-sm lg:text-base"><%= feature %></span>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="w-full flex flex-col items-center">
        <%= link_to t('global.cta'), new_user_registration_path, class: 'text-off-white rounded-full bg-brand-500 ring ring-4 ring-brand-200 px-5 py-2.5 lg:px-6 lg:py-3 text-lg lg:text-xl lg:hover:ring-offset-4 lg:transition-all lg:duration-300' %>
      </div>
    </div>
  </div>
</section>
