<section id="pricings" class="bg-white flex flex-col space-y-12 lg:space-y-28 py-14 lg:py-24 px-6 lg:px-44">
  <div class="w-full text-center font-medium">
    <span class="text-black">Tarifs</span>
    <div class="flex flex-col items-center text-brand-950 text-2xl lg:text-5xl font-semibold lg:font-semibold">
      <h2><span class="text-brand-500">Réduisez</span> votre temps de travail</h2>
      <h2><span class="text-brand-500">Boostez</span> votre chiffre d'affaires</h2>
    </div>
  </div>
  <div class="w-full flex flex-col lg:flex-row space-y-12 lg:space-y-0 lg:space-x-24 lg:justify-center">
    <%= render 'pages/home/pricing', type: 'starter', subtitle: t('pages.home.pricings.starter.title') , price: t('pages.home.pricings.starter.price'), 
                          features: t('pages.home.pricings.starter.features')  %>
    <%= render 'pages/home/pricing', type: 'pro', subtitle: t('pages.home.pricings.business.title'), price: t('pages.home.pricings.business.price'), 
                          features: t('pages.home.pricings.business.features') %>
  </div>
</section>
