<section id="pricings" class="bg-white flex flex-col space-y-12 lg:space-y-18 py-14 lg:py-24 px-6 lg:px-44">
  <div class="w-full text-center flex flex-col space-y-4">
    <span class="text-lg font-medium text-brand-800"> Early Birds - Accès à vie </span>
    <div class="flex flex-col text-brand-950 text-3xl lg:text-5xl font-semibold lg:font-semibold space-y-2">
      <div><span class="text-brand-500">Réduisez</span> votre temps de travail</div>
      <div><span class="text-brand-500">Boostez</span> votre chiffre d'affaires</div>
    </div>
  </div>
  <div class="w-full text-center font-medium">
    <h2 class="text-brand-950 text-lg lg:text-2xl font-medium">Un paiement <span class="text-xl lg:text-3xl underline decoration-brand-500 font-semibold">unique</span>, un accès <span class="text-xl lg:text-3xl underline decoration-brand-500 font-semibold">à vie</span>.</h2>
  </div>
  <div class="w-full flex flex-col lg:flex-row space-y-12 lg:space-y-0 lg:space-x-24 lg:justify-center">
    <div class="relative overflow-hidden flex flex-col space-y-8 bg-off-white rounded-lg px-4 lg:px-8 py-8 lg:py-14 drop-shadow-xl">
      <div class="w-full flex flex-col lg:grow lg:mb-3">
        <div class="flex flex-col space-y-2">
          <span class="text-2xl lg:text-3xl font-medium lg:font-semibold text-brand-700">Early Birds</span>
          <span class="text-sm text-black">Profite de tous les avantages À VIE.</span>
        </div>
        <div class="flex flex-col space-y-2 mt-3 mb-2">
          <div class="flex text-brand-950 font-semibold items-end space-x-3 mt-2 lg:mt-4">
            <span class="text-4xl lg:text-5xl">49,99 €</span>
            <span>paiement unique</span>
          </div>
          <span class="text-brand-600 text-xs lg:text-base">~ 0.06% de votre CA rentabilisé</span>
        </div>
        <ul class="text-left text-black space-y-4 mt-5 lg:mt-8">
          <% ['Suivi de votre rentabilité', 'Estimation des revenus mensuel', "Adaptabilité à l'évolution du TJM", 'Gestion des jours de congés', 'Accès à vie'].each do |feature| %>
            <li class="flex items-center space-x-1.5">
              <svg class="w-4 lg:w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
              <span class="w-11/12 text-sm lg:text-base"><%= feature %></span>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="w-full flex flex-col items-center">
        <%= link_to t('global.cta'), new_user_registration_path, class: 'text-off-white rounded-full bg-brand-500 ring ring-4 ring-brand-200 px-5 py-2.5 lg:px-6 lg:py-3 text-lg lg:text-xl lg:hover:ring-offset-4 lg:transition-all lg:duration-300' %>
      </div>
      <div class="absolute -right-9 -top-3 flex w-36 rotate-45 items-center justify-center bg-brand-500 text-center py-0.5"><span class="text-xl font-semibold text-white">-50%</span> </div>
    </div>
  </div>
</section>
