<div class="w-full flex flex-col justify-center lg:w-3/4">
  <div class="w-full flex justify-center lg:justify-start mb-10">
    <%= image_tag "#{icon}.svg", class: 'w-36' %>
  </div>
  <h6 class="text-gray-900 text-xl font-semibold lg:text-2xl mb-5"><%= title %></h6>
  <p class="text-gray-600"><%= description %></p>
</div>
