<div class="w-full flex justify-center my-6">
  <% flash.each do |type, msg| %>
    <div class="<%= type == 'alert' ? 'bg-red-100 text-red-700' : 'bg-green-100 text-green-700' %> rounded-lg py-5 px-6 mb-6" role="alert">
      <%= msg %>
    </div>
  <% end %>
</div>
