<div class="w-full rounded-lg bg-brand-50 max-w-7xl mx-auto py-8 lg:py-24 px-6 lg:px-16">
  <div class="h-fit grid place-items-center grid-cols-1 grid-rows-none lg:grid-cols-3 lg:grid-rows-fit gap-x-0 gap-y-4 lg:gap-y-5 lg:gap-x-10">
    <div class="order-1 lg:h-36">
      <%= image_tag 'money.svg', class: 'w-36' %>
    </div>
    <div class="order-4 lg:order-2 lg:h-36 mt-8 lg:mt-0">
      <%= image_tag 'free.svg', class: 'w-36' %>
    </div>
    <div class="order-7 lg:order-3 lg:h-36 mt-8 lg:mt-0">
      <%= image_tag 'calendar.svg', class: 'w-36' %>
    </div>
    <div class="order-2 lg:order-4 text-center">
      <span class="text-2xl font-semibold text-black">Rentabilisez votre activité</span>
    </div>
    <div class="order-5 lg:order-5 text-center">
      <span class="text-2xl font-semibold text-black">Plus de liberté</span>
    </div>
    <div class="order-8 lg:order-6 text-center">
      <span class="text-2xl font-semibold text-black">Planifiez vos projets futurs</span>
    </div>
    <div class="order-3 lg:order-7">
      <p class="text-center text-sm lg:text-base">Ayez toujours une vision sur la rentabilité de votre activité tout au long de l'année</p>
    </div>
    <div class="order-6 lg:order-8">
      <p class="text-center text-sm lg:text-base">MicroEntrepreneur optimise vos jours de congé pour une meilleure rentabilité, vous offrant ainsi plus de liberté en tant que freelance en régie</p>
    </div>
    <div class="order-9 lg:order-9">
      <p class="text-center text-sm lg:text-base">En ayant une vision sur vos revenus estimés pour les prochains mois, vous pouvez planifier vos projets futurs plus sereinement</p>
    </div>
  </div>
</div>
