development:
  stripe:
    webhook_key:
    public_key:
    secret_key: 
    products:
      starter: price_id
      business: price_id
production:
  stripe:
    webhook_key:
    public_key: 
    secret_key: 
    products:
      starter: price_id
      business: price_id
