<div class="flex flex-col space-y-2 text-black">
  <h3 class="text-2xl lg:text-3xl font-semibold"> Bonjour, <%= current_user.first_name.capitalize %> </h3>
  <h6 class="text-xs lg:text-base">Les statistiques de votre micro-entreprise, à portée de main!</h6>
</div>
