<h2 class="text-lg font-semibold mt-4"><%= t('.title') %></h2>
<p><%= t('.subtitle') %></p>
<ul class="list-disc ml-5">
  <% t('.all_rights').each do |right| %>
    <li><%= right %></li>
  <% end %>
</ul>
<p><%= t('.contact') %></p>
