@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.btn-cta {
  @apply inline-flex items-center space-x-2 rounded-lg bg-brand-500 hover:bg-brand-600 px-4 py-2 text-white font-medium transition-colors;
}

.btn-cta-lg {
  @apply inline-flex justify-center items-center px-6 py-3 md:px-8 md:py-4 bg-brand-500 hover:bg-brand-600 text-white font-semibold text-base rounded-lg transition-all duration-200 transform hover:scale-105 shadow-lg;
}
